{% extends 'layout.html' %} {% block content %}
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h3 class="card-title">Información Personal</h3>
            </div>
            <div class="card-body">
              <div class="form-group mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" id="nombre" class="form-control" value="Mario Ernesto Marroquín Pérez" readonly>
              </div>
              <div class="form-group mb-3">
                <label for="carnet" class="form-label">Carnet:</label>
                <input type="text" id="carnet" class="form-control" value="202110509" readonly>
              </div>
              <div class="form-group mb-3">
                <label for="curso" class="form-label">Curso:</label>
                <input type="text" id="curso" class="form-control" value="Introducción a la Programación y Computación 2" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
