{% extends 'layout.html' %} {% block content %}
  
<div class="container container-margin">

  <div class="row mt-5 justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card equal-height-card custom-card">
        <div class="card-header custom-card-header text-white">
          <h3 class="card-title"><i class="fas fa-handshake mr-2"></i>Solicitar Servicio</h3>
        </div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label for="Servicio1" class="form-label text-white">Seleccione un servicio:</label>
            <form id="upload_form_1" action="http://localhost:5000/servicio1_xml" method="POST" enctype="multipart/form-data" style="display: inline;">
              <input type="file" name="xml_file_1" id="xml_file_1" accept="text/xml" style="display: none;" onchange="submitForm('upload_form_1')">
            </form>
            <form id="upload_form_2" action="http://localhost:5000/servicio2_xml" method="POST" enctype="multipart/form-data" style="display: inline;">
              <input type="file" name="xml_file_2" id="xml_file_2" accept="text/xml" style="display: none;" onchange="submitForm('upload_form_2')">
            </form>
            <a onclick="triggerFileUpload('xml_file_1')" class="btn btn-outline-light btn-block custom-btn">1. Definición de perfiles y palabras descartadas</a>
            <a href="/RespuestaServicio1" class="btn btn-outline-light btn-block custom-btn">Respuesta a servicio 1</a>
            <a onclick="triggerFileUpload('xml_file_2')" class="btn btn-outline-light btn-block custom-btn">2. Creación de nuevos mensajes</a>
            <a href="/RespuestaServicio2" class="btn btn-outline-light btn-block custom-btn">Respuesta a servicio 2</a>
          </div>
        </div>
      </div>
      
      <script>
        function triggerFileUpload(inputId) {
          document.getElementById(inputId).click();
        }
      
        function submitForm(formId) {
          document.getElementById(formId).submit();
        }
      </script>    

    </div>

    <div class="col-md-6 mb-4">
      <div class="card equal-height-card custom-card">
        <div class="card-header custom-card-header text-white">
          <h3 class="card-title"><i class="fas fa-envelope mr-2"></i>Peticiones</h3>
        </div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label for="opcion" class="form-label text-white">Seleccione una opción:</label>
            <a href="/" class="btn btn-outline-light btn-block custom-btn">Detalle de mensajes por usuario</a>
            <a href="/" class="btn btn-outline-light btn-block custom-btn">Resumen de pesos por usuario</a>
            <a href="/" class="btn btn-outline-light btn-block custom-btn">Prueba de solicitudes de creación de mensajes</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2 justify-content-center">
    <div class="col-md-6 mb-4">
      <div class="card equal-height-card1 custom-card">
        <div class="card-header custom-card-header text-white">
          <h3 class="card-title"><i class="fas fa-info-circle mr-2"></i>Ayuda</h3>
        </div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label class="form-label text-white">Seleccione una opción:</label>
            <a href="/info_estudiante" class="btn btn-outline-light btn-block custom-btn">Información del estudiante</a>
            <a href="{% url 'pdf-view' %}" class="btn btn-outline-light btn-block custom-btn">Documentación oficial</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card equal-height-card1 custom-card">
        <div class="card-header custom-card-header text-white">
          <h3 class="card-title"><i class="fas fa-redo mr-2"></i>Reset</h3>
        </div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label for="opcion" class="form-label text-white">Seleccione una opción:</label>
            <a href="/" class="btn btn-outline-light btn-block custom-btn">Clic aquí para reiniciar la base de datos</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

    
{% endblock %}
